<!DOCTYPE html>
<html>
<head>
	<title>Web Api for streaming</title>
    <link rel="stylesheet" href="style.css">	
</head>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<script>
	
	const ROOM_ID = '<%= roomId %>';
	console.log(ROOM_ID);	
</script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script> -->
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
<script  src="/socket.io/socket.io.js" defer></script>
<script src="https://kit.fontawesome.com/62d14f866e.js" crossorigin="anonymous"></script>

<body>
    <div class="main">
    	<div class="main__left">
    		<div class="main__videos">
    		     <div id="video-grid">
	        
	             </div>
	        </div>
	        <div class="main__controls">
	        	<div class="main__controls__block">
	        		<div onclick="muteUnmute()" class="main__controls__button Mute__button">
	        			<i class="fas fa-microphone"></i>
	        			<span>Mute</span>
	        		</div>
	        		<div onclick="videoOnOff()" class="main__controls__button Video__button">
	        			<i class="fas fa-video"></i>
	        			<span>Stop Video</span>
	        		</div>
	        	</div>	
	        	<div onclick="screenshare()" class="main__controls__block">
	        		<div class="main__controls__button">
	        			<i class="fas fa-photo-video"></i>
	        			<span>ScreenShare</span>
	        		</div>
	        		<div class="main__controls__button">
	        			<i class="fas fa-user-friends"></i>
	        			<span>Participants</span>
	        		</div>
	        		<div onclick="share()" class="main__controls__button">
	        			<i class="fa fa-share-alt"></i>
	        			<span>Share</span>
	        		</div>
	        	</div>
	        	<div class="main__controls__block">	
	        		<div onclick="disconnectNow()" class="main__controls__button main__leave"  style=" color: Tomato;">
	        			<span style="color: red;">Leave Meeting</span>
	        		</div>
	        	</div>	
	        		
	        	
	        </div>
    	</div>
        
        <div class="main__right">
             <div class="main__header">
             	<h6>Chat</h6>
			 </div>
			 <div class="main_chat_window">
				<ul class="messages">
				</ul>
			 </div>
			  <div class="main_messages_container">
				<input id="chat_messages" type="text" placeholder="Type message here...">
			  </div>
        </div>

    
		<script src="script.js" defer></script>
    
</body>

</html>